<app-menu-bar></app-menu-bar>
<mat-card *ngFor="let order of orders">
  <mat-card-header>
    <mat-card-title>{{translate(order.order_datetime)}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor="let product of order.products">
      <mat-card-header>
        <mat-card-title>
          {{product.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-md-image [src]="product.image" alt="product image"/>
        <p>Category: {{product.category}}</p>
        <p>Description: {{product.description}}</p>
        <p>Rating: {{product.rating.rate}} by {{product.rating.count}} users</p>
      </mat-card-content>
      <mat-card-actions style="justify-content: space-evenly">
        Price: ${{product.price.toFixed(2)}}
      </mat-card-actions>
    </mat-card>
  </mat-card-content>

</mat-card>
